@using Microsoft.AspNetCore.Mvc.Localization;
@using System.Globalization;
@using Microsoft.AspNetCore.Localization;

@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@model HRCMS.ViewModels.HRCaseModel

@{
    if (String.IsNullOrEmpty(Model.CaseNumber))
    {
        ViewData["Title"] = Localizer["Add a new case"];
    }
    else
    {
        ViewData["Title"] = ViewBag.pageTitle;

    }
}
<h1>@ViewData["Title"]</h1>
@if ((string)TempData["CaseSaved"] == "true")
{
    <section class="alert alert-success">
        <h2>@Localizer["Success"]</h2>
        <p>@Localizer["Your case was successfully saved."]</p>
        <button type="button" class="btn btn-success" id="btnCaseSaved">@Localizer["OK"]</button>
    </section>
}
<div class="wb-tabs ignore-session">
    <div class="tabpanels">
        <details id="tabCaseInfo">
            @if (String.IsNullOrEmpty(Model.CaseNumber))
            {
                <summary>@Localizer["New Case"]</summary>
            }
            else
            {
                <summary>@Localizer["Case Summary"]</summary>
            }
            <div class="wb-frmvld">
                <form id="frmSave" asp-action="Save">
                    <p>
                        •	Provide a brief description of how the process works, any relevant timelines etc.
                        •	Explain why some fields (first name, last name, PRI) are prepopulated
                        •	Provide some guidance on the email address and what can be used
                        •	Explain the difference between "saving" and "submitting" a case
                    </p>
                    <h2>@Localizer["Employee Information"]</h2>
                    @Html.HiddenFor(m => m.CaseId)
                    <div class="">

                        <div class="form-group  col-md-4">
                            <label asp-for="@Model.FirstName"><span class="field-name">@Localizer["First Name"]</span></label>
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control full-width", @maxlength = "250", @readonly = "readonly", @required = "required" })
                        </div>
                        <div class="form-group  col-md-4">
                            <label asp-for="@Model.LastName"><span class="field-name">@Localizer["Last Name"]</span></label>
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control full-width", @maxlength = "250", @readonly = "readonly", @required = "required" })
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="@Model.PRI"><span class="field-name">@Localizer["<acronym title='Personal Record Identifier'>PRI</acronym>"]</span></label>
                            @Html.TextBoxFor(m => m.PRI, new { @class = "form-control", @maxlength = "250", @readonly = "readonly", @required = "required" })
                        </div>
                    </div>

                    <div class="">
                        <div class="form-group col-md-12">
                            <label asp-for="@Model.Email" class="required"><span class="field-name">@Localizer["Email"].Value</span> <strong class="required">(@SharedLocalizer["required"])</strong></label>
                            <div class="row">
                                <div class=" col-md-8">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control full-width", @maxlength = "250", @readonly = "readonly", @required = "required" })
                                </div>
                                <div class=" col-md-4">
                                    <button id="btnEditEmail" type="button" class="btn btn-default">@Localizer["Edit"]</button>
                                    <button id="btnUpdateEmail" type="button" class="btn btn-default hidden">@Localizer["Update"]</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <hr />
                    <h2>@Localizer["Inquiry"]</h2>
                    <div class="">
                        <div class="form-group col-md-4">
                            <label asp-for="@Model.CaseType.TypeId" class="required"><span class="field-name">@Localizer["Case Type"]</span> <strong class="required">(@SharedLocalizer["required"])</strong></label>
                            @Html.DropDownListFor(m => m.CaseType.TypeId, Model.CaseTypes, Localizer["Please make a selection"].Value, htmlAttributes: new { @class = "form-control full-width", @required = "required" })
                        </div>
                        <div class="form-group  col-md-6">
                            <label asp-for="@Model.CaseSubType.SubTypeId" class="required"><span class="field-name">@Localizer["Case Sub Type"]</span> <strong class="required">(@SharedLocalizer["required"])</strong></label>
                            @Html.DropDownListFor(m => m.CaseSubType.SubTypeId, Model.CaseSubTypes, Localizer["Please make a selection"].Value, htmlAttributes: new { @class = "form-control full-width", @required = "required" })
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label asp-for="@Model.Description" class="required"><span class="field-name">@Localizer["Please provide the details of your inquiry"]</span></label>
                        @Html.TextAreaFor(m => m.Description, 5, 200, new { @class = "form-control", @maxlength = "1000", @required="required" })
                    </div>
                    <div class="form-group col-md-12">
                        <div id="divAlert" class="alert alert-warning hidden">
                            <p>@Localizer["Are you sure you want to submit the case?"]</p>
                            <div class="form-group">
                                <input type="submit" id="btnConfirm" asp-action="Submit" value='@Localizer["Confirm"]' class="btn btn-danger" />
                                <input type="button" id="btnCancel" value='@Localizer["Cancel"]' class="btn btn-default" />
                            </div>
                        </div>
                        <div id="divButtons">
                            <button type="submit" class="btn btn-primary"><span class="fa fa-save mrgn-rght-sm"></span>@SharedLocalizer["Save"]</button>
                            <a asp-action="List" class="btn btn-default"><span class="fa fa-times mrgn-rght-sm"></span>@SharedLocalizer["Cancel"]</a>
                            <div class="pull-right">
                                <button id="btnSubmitCase" type="button" class="btn btn-success">@Localizer["Submit case"]</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </details>
        @if (!String.IsNullOrEmpty(Model.CaseNumber))
        {
    <details id="tabAttachments">
        <summary>@Localizer["Attachment"]</summary>
        @await Html.PartialAsync("_AttachmentPartial", Model.NewAttachment)
        <table class="table table-striped" data-wb-tables='{ "ordering" : true, "aaSorting": [[3, "desc"]] }' id="tblAttachments">
            <thead class="thead-light">
                <tr>
                    <th scope="col">
                        @Localizer["Subject"]
                    </th>
                    <th scope="col">
                        @Localizer["Attachment Description"]
                    </th>
                    <th scope="col">
                        @Localizer["File Name"]
                    </th>
                    <th scope="col">
                        @Localizer["Created On"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Attachments?.Count > 0)
                {
                    @foreach (AnnotationModel file in Model.Attachments)
                    {
                        <tr>
                            <td>
                                @file.Subject
                            </td>
                            <td>
                                @file.NoteText
                            </td>
                            <td>
                                @Html.ActionLink(file.FileName, "DownloadAttachment", "hrcase", new { attachmentId = file.Annotationid })
                            </td>

                            <td>
                                <span class="localDateTime">@file.DateCreated</span>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="7">
                            @Localizer["N/A"]
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </details>
        }

        </div>
        
</div>

            <div>
                <a asp-action="List" class="btn btn-default"><span class="fa fa fa-caret-left mrgn-rght-sm"></span>@SharedLocalizer["View my cases"]</a>
            </div>
@section CustomScripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@

    <script type="text/javascript">
        $(document).on("wb-ready.wb-tabs", ".wb-tabs", function (event) {
            var textarea = $('textarea[maxlength]');
            var text = ' ' + "@SharedLocalizer["characters remaining."]";
            $.fn.getCharactersRemaining = function () {
                var length = $(this).val().length;
                var maxLength = parseInt($(this).attr('maxlength'));
                var remaining = maxLength - length;

                return remaining;
            };

            textarea.each(function () {
                var html = '<span class="counter">' + $(this).getCharactersRemaining() + '</span>' + text;

                //display the character count below the textarea when the page loads.
                $(this).after(html);

                $(this).on("input keyup keydown focus", function () {
                    //update character count as you type.
                    $(this).next('.counter').text($(this).getCharactersRemaining());
                });
            });

            $('#CaseType_TypeId').change(function () {
                var selectedCaseTypeId = $("#CaseType_TypeId").val();
                var CaseSubTypeIdsSelect = $('#CaseSubType_SubTypeId');
                CaseSubTypeIdsSelect.empty();
                CaseSubTypeIdsSelect.attr('readonly', 'readonly');
                if (selectedCaseTypeId != null && selectedCaseTypeId != '') {
                    $.getJSON('@Url.Action("GetCaseSubTypes")', { caseTypeId: selectedCaseTypeId }, function (CaseSubTypeIds) {
                        if (CaseSubTypeIds != null && !jQuery.isEmptyObject(CaseSubTypeIds)) {
                            CaseSubTypeIdsSelect.attr("readonly", "readonly");
                            CaseSubTypeIdsSelect.append($('<option/>', {
                                value: "",
                                text: '@Localizer["Please make a selection"]'
                            }));
                            $.each(CaseSubTypeIds, function (index, subtype) {
                                CaseSubTypeIdsSelect.append($('<option/>', {
                                    value: subtype.value,
                                    text: subtype.text
                                }));
                            });
                            CaseSubTypeIdsSelect.removeAttr("readonly");
                        };
                    });
                }
            });

            var missingZeros = 9-$("#PRI").val().length; 
            for (var i = 0; i < missingZeros; i++) {
                $("#PRI").val('0' + $("#PRI").val());
            }
            $("#PRI").val($("#PRI").val().replace(/(\d{3})\-?(\d{3})\-?(\d{3})/, '$1-$2-$3'));

            $("#btnEditEmail").click(function () {
                $("#Email").removeAttr("readonly");
                $("#btnEditEmail").addClass("hidden");
                $("#btnUpdateEmail").removeClass("hidden");
            });

            $("#btnUpdateEmail").click(function () {
                $("#Email").attr("readonly","readonly");
                $("#btnEditEmail").removeClass("hidden");
                $("#btnUpdateEmail").addClass("hidden");
            });

            $('#btnSubmitCase').click(function () {
                $('#frmSave').validate();
                if ($('#frmSave').valid()) {
                    $('#divButtons, #divAlert').toggleClass("hidden");
                }
            });

            $('#btnCancel').click(function () {
                $('#divButtons, #divAlert').toggleClass("hidden");
            });

            $("#btnCaseSaved").click(function () {
                $(this).closest("section").addClass("hidden");
            });

        });

    </script>
}

