@using Microsoft.AspNetCore.Mvc.Localization;
@using System.Globalization;
@using Microsoft.AspNetCore.Localization;

@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@model HRCMS.ViewModels.HRCaseModel

@{
    ViewData["Title"] = Localizer["HR Case"] + " " + Model.CaseNumber;
}

    <h1>@Localizer["HR Case"]: @Model.CaseNumber</h1>
<div class="row">
    <div class="col-md-12">

        @*<div asp-validation-summary="All"> </div>*@
        <div class="wb-tabs ignore-session">
            <div class="tabpanels">

                <details id="tabGeneral">
                    <summary>@Localizer["General"]</summary>

                    <form asp-action="" method="post">
                        @Html.HiddenFor(m => m.CaseId)
                        <div class="form-group">
                               <strong>@Localizer["<acronym title='Personal Record Identifier'>PRI</acronym>"]</strong>
                            <p>@Model.PRI</p>
                        </div>
                        <div class="form-group">
                            <strong>@Localizer["Last Name"]</strong>
                            <p>@Model.LastName</p>
                        </div>
                        <div class="form-group">
                            <strong>@Localizer["First Name"]</strong>
                            <p>@Model.FirstName</p>
                        </div>
                        <div class="form-group">
                            <strong>@Localizer["Email"].Value</strong>
                            <p><a href="mailto:@Model.Email">@Model.Email</a></p>
                        </div>
                        <div class="form-group">
                            <strong>@Localizer["Case Status"].Value</strong>
                            @if (Model.CaseStatusId == "315840001")
                            {
                        <p>
                            
                            @Localizer["Received by Pay"].Value
                        </p>
                            }
                            else
                            {
                                <p>
                                    @Model.CaseStatusText 
                                </p>
                            }
                        </div>
                        <div class="form-group">
                            <strong>@Localizer["Case Type"].Value</strong>
                            <p>@Model.CaseType.TypeName</p>
                        </div>
                        <div class="form-group">
                            <strong>@Localizer["Case Sub Type"].Value</strong>
                            <p>@Model.CaseSubType.SubTypeName</p>
                        </div>
                        <div class="form-group">
                            <strong>@Localizer["Description"].Value</strong>
                            <p>@Model.Description</p>
                        </div>
                        @if (Model.CaseStatusId == "315840004" || Model.CaseStatusId == "315840005") //the case is withdrew by Pay or closed
                        {
                    <span class="font-weight-bolder">
                        <strong>@Localizer["Resolution"].Value</strong>
                    </span>
                    <p>@Html.Raw(@Model.Resolution)</p>
                        }
                        @if (Model.CaseStatusId == "315840002") //the case is new
                        {
                            <div id="divAlert" class="alert alert-warning hidden">
                                <p>@Localizer["Are you sure?"]</p>
                                <div class="form-group">
                                    <input type="submit" id="btnConfirm" asp-action="Delete" value='@Localizer["Confirm"]' class="btn btn-danger" />
                                    <input type="button" id="btnCancel" value='@Localizer["Cancel"]' class="btn btn-default" />
                                </div>
                            </div>
                            <div class="form-group" id="divButtons">
                                <input type="submit" asp-action="Submit" value='@Localizer["Submit"]' class="btn btn-primary" />
                                <a asp-action="Update" asp-route-id="@Model.CaseId" class="btn btn-default">@Localizer["Update"]</a>
                                <input type="button" id="btnDelete" value='@Localizer["Delete"]' class="btn btn-warning" />
                            </div>
                        }
                        else if (Model.CaseStatusId == "315840001" || Model.CaseStatusId == "315840000" || Model.CaseStatusId == "315840003") //withdraw
                        {
                            <div id="divAlert" class="alert alert-warning hidden">
                                <p>@Localizer["Are you sure?"]</p>
                                <div class="form-group">
                                    <input type="submit" id="btnConfirm" asp-action="Withdraw" value="@Localizer["Confirm"]" class="btn btn-danger" />
                                    <input type="button" id="btnCancel" value="@Localizer["Cancel"]" class="btn btn-default" />
                                </div>
                            </div>
                            <div class="form-group" id="divButtons">
                                <input type="button" id="btnWithdraw" value="@Localizer["Withdraw"]" class="btn btn-primary" />
                            </div>
                        }
                    </form>
                </details>
                @if (Model.Questions.Count > 0)
                {
                    <details id="tabQuestions">
                        <summary>@Localizer["Questions and Answers"]</summary>

                        <form id="formQuestionAnswers" asp-action="" method="post">

                            @for (int i = 0; i < Model.Questions.Count; i++)
                            {
                                <section class="panel panel-default hght-inhrt">
                                    @Html.HiddenFor(m => m.Questions[i].QuestionId)
                                    @if (string.IsNullOrEmpty(Model.Questions[i].AnswerText))
                                    {
                                        <div class="alert alert-danger mrgn-bttm-0">
                                            <label class="font-weight-bolder" for="Questions_@(i)__AnswerText">
                                                @Model.Questions[i].QuestionText <span class="localDateTime">@Model.Questions[i].DateAsked</span>
                                            </label>
                                        </div>
                                        <div class="panel-body">
                                            @Html.TextAreaFor(m => m.Questions[i].AnswerText, 5, 200, new { @class = "form-control", @maxlength = "4000" })
                                            @Html.ValidationMessageFor(m => m.Questions[i].AnswerText, "", htmlAttributes: new { @class = "text-danger" })
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="panel-heading">
                                            <label class="font-weight-bolder">
                                                @Model.Questions[i].QuestionText <span class="localDateTime">@Model.Questions[i].DateAsked</span>
                                            </label>
                                        </div>
                                        <div class="panel-body">
                                            <p><span class="localDateTime">@Model.Questions[i].DateAnswered</span></p>
                                            <p>
                                                @Model.Questions[i].AnswerText
                                            </p>
                                        </div>
                                    }

                                </section>

                            }


                            <input type="submit" id="btnUpdateAnswers" class="btn btn-default hidden" asp-action="UpdateAnswers" value="@Localizer["Submit Answers"]" />
                        </form>
                    </details>
                }

                <details id="tbAttachments">
                    <summary>@Localizer["Attachments"]</summary>
                    @await Html.PartialAsync("_AttachmentPartial", Model.NewAttachment)
                    <table class="table table-striped" data-wb-tables='{ "ordering" : true, "aaSorting": [[3, "desc"]] }' id="tblAttachments">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">
                                    @Localizer["Subject"]
                                </th>
                                <th scope="col">
                                    @Localizer["Note Text"]
                                </th>
                                <th scope="col">
                                    @Localizer["File Name"]
                                </th>
                                <th scope="col">
                                    @Localizer["Created On"]
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Attachments?.Count > 0)
                            {
                                @foreach (AnnotationModel file in Model.Attachments)
                                {
                                    <tr>
                                        <td>
                                            @file.Subject
                                        </td>
                                        <td>
                                            @file.NoteText
                                        </td>
                                        <td>
                                            @Html.ActionLink(file.FileName, "DownloadAttachment", "hrcase", new { attachmentId = file.Annotationid })
                                        </td>

                                        <td>
                                            <span class="localDateTime">@file.DateCreated</span>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="7">
                                        @Localizer["N/A"]
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </details>
            </div>
        </div>

    </div>
</div>


<div>
    <a asp-action="List">@Localizer["Back to List"]</a>
</div>
@section CustomScripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
    <script type="text/javascript">
        $(document).ready(function () {

        });

        $(document).on("wb-ready.wb-tabs", ".wb-tabs", function (event) {
            var textarea = $('textarea[maxlength]');
            var text = ' characters remaining.';


            $.fn.getCharactersRemaining = function () {
                var length = $(this).val().length;
                var maxLength = parseInt($(this).attr('maxlength'));
                var remaining = maxLength - length;

                return remaining;
            };

            if ($('#formQuestionAnswers').find($("textarea")).length > 0) {
                $('#btnUpdateAnswers').removeClass("hidden");
            }

            textarea.each(function () {
                var html = '<span class="counter">' + $(this).getCharactersRemaining() + '</span>' + text;

                //display the character count below the textarea when the page loads.
                $(this).after(html);

                $(this).on("input keyup keydown focus", function () {
                    //update character count as you type.
                    $(this).next('.counter').text($(this).getCharactersRemaining());
                });
            });

            $('#btnWithdraw,#btnCancel, #btnDelete').click(function () {
                $('#divButtons, #divAlert').toggleClass("hidden");
            });

            var localDateTimes = $('.localDateTime');
            localDateTimes.each(function () {
                var utcTime = this.innerHTML;
                if (utcTime != null) {
                    var d = new Date(utcTime);
                    this.innerHTML = "[" + utcTime.substring(0, 10) + " " + ("0" + d.getHours()).slice(-2) + ":" + ("0" + d.getMinutes()).slice(-2) + "]";
                }
            });

            //DragDropFile();


        });



    </script>
}

