@using Microsoft.AspNetCore.Mvc.Localization;
@using System.Globalization;
@using Microsoft.AspNetCore.Localization;

@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@model HRCMS.ViewModels.ListViewModel


@{
    ViewData["Title"] = @Localizer["View My Cases"];
}

<h1>View My Cases</h1>
@if ((string)TempData["CaseSubmitted"] == "true")
{
    <section class="alert alert-success">
        <h2>@Localizer["Success"]</h2>
        <p>@Localizer["Your case was submitted successfully."]</p>
        <button type="button" class="btn btn-success" id="btnCaseSubmitted">@Localizer["OK"]</button>
    </section>
}
@if ((string)TempData["CaseWithdrawn"] == "true")
{
    <section class="alert alert-success">
        <h2>@Localizer["Success"]</h2>
        <p>@Localizer["Your case was withdrawn successfully."]</p>
        <button type="button" class="btn btn-success" id="btnCaseWithdrawn">@Localizer["OK"]</button>
    </section>
}
@if (Model.Questions?.Count > 0)
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary brdr-rds-0 mrgn-tp-md col-md-4 ">
                <div class="panel-body">
                    <div class="form-inline">
                        @if (Model.Questions.Count == 1)
                        {
                            <strong>@Localizer["You have 1 question"]</strong>
                        }
                        else
                        {
                            <strong>@string.Format(Localizer["You have {0} questions"].Value, Model.Questions.Count)</strong>
                        }

                        <button type="button" onclick="SwitchToQuestions()" class="btn btn-default mrgn-lft-md"><span class="fa fa-envelope mrgn-rght-sm" aria-hidden="true"></span>@Localizer["View"]</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
}
<div class="wb-tabs">
    <div class="tabpanels">
        <details id="tabOpenCases">
            <summary>@Localizer["Open Cases"]</summary>

            <div class="mrgn-bttm-md mrgn-tp-md">
                <a asp-action="Create" class="btn btn-default"><span class="fa fa-plus mrgn-rght-sm"></span>@Localizer["Add a new case"]</a>
                <div class="pull-right"><button type="button" class="btn btn-default" onclick="location.reload()"><span class="fa fa-sync mrgn-rght-sm"></span>Refresh list</button></div>
            </div>
            <table class="wb-tables table table-striped table-bordered" data-wb-tables='{ "ordering" : true, "aaSorting": [[0, "desc"]] }' id="tblOpenCases">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="col-sm-2">
                            @Localizer["Case Number"]
                        </th>
                        <th scope="col" class="col-sm-2">
                            @Localizer["Case Type"]
                        </th>
                        <th scope="col" class="col-sm-3">
                            @Localizer["Case Sub-Type"]
                        </th>
                        <th scope="col" class="col-sm-2">
                            @Localizer["Case Status"]
                        </th>
                        <th scope="col" class="col-sm-2">
                            @Localizer["Created On"]
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.OpenCases.Count > 0)
                    {
                        @foreach (HRCaseModel hrCase in Model.OpenCases)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(hrCase.CaseNumber, "details", "hrcase", new { id = hrCase.CaseId })
                                </td>
                                <td>
                                    @if (hrCase.CaseType != null)
                                    {@hrCase.CaseType.TypeName}
                                </td>
                                <td>
                                    @if (hrCase.CaseSubType != null)
                                    {@hrCase.CaseSubType.SubTypeName}
                                </td>
                                <td>
                                    @if (hrCase.CaseStatusId == "315840001")
                                    {
                                        <p>
                                            Received by Pay
                                        </p>
                                    }
                                    else
                                    {
                                        <p>
                                            @hrCase.CaseStatusText
                                        </p>
                                    }
                                </td>
                                <td>
                                    @hrCase.DateCreated.ToString("yyyy-MM-dd")
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7">
                                @Localizer["N/A"]
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </details>

        <details id="tabClosedCases">
            <summary>@Localizer["Closed Cases"]</summary>
            <div class="mrgn-bttm-md mrgn-tp-md">
                <a asp-action="Create" class="btn btn-default"><span class="fa fa-plus mrgn-rght-sm"></span>@Localizer["Add a new case"]</a>
                <div class="pull-right"><button type="button" class="btn btn-default" onclick="location.reload()"><span class="fa fa-sync mrgn-rght-sm"></span>Refresh list</button></div>
            </div>
            <table class="wb-tables table table-striped table-bordered" data-wb-tables='{ "ordering" : true, "aaSorting": [[0, "desc"]] }' id="tblClosedCases">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="col-sm-2">
                            @Localizer["Case Number"]
                        </th>
                        <th scope="col" class="col-sm-2">
                            @Localizer["Case Type"]
                        </th>
                        <th scope="col" class="col-sm-3">
                            @Localizer["Case Sub-Type"]
                        </th>
                        <th scope="col" class="col-sm-2">
                            @Localizer["Case Status"]
                        </th>
                        <th scope="col" class="col-sm-2">
                            @Localizer["Created On"]
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ClosedCases.Count > 0)
                    {
                        @foreach (HRCaseModel hrCase in Model.ClosedCases)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(hrCase.CaseNumber, "details", "hrcase", new { id = hrCase.CaseId })
                                </td>
                                <td>
                                    @if (hrCase.CaseType != null)
                                    {@hrCase.CaseType.TypeName}
                                </td>
                                <td>
                                    @if (hrCase.CaseSubType != null)
                                    {@hrCase.CaseSubType.SubTypeName}
                                </td>
                                <td>
                                    @if (hrCase.CaseStatusId == "315840001")
                                    {
                                        <p>
                                            Received by Pay
                                        </p>
                                    }
                                    else
                                    {
                                        <p>
                                            @hrCase.CaseStatusText
                                        </p>
                                    }
                                </td>
                                @*<td>
                                        @hrCase.FirstName
                                    </td>
                                    <td>
                                        @hrCase.LastName
                                    </td>*@
                                <td>
                                    @hrCase.DateCreated.ToString("yyyy-MM-dd")
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7">
                                @Localizer["N/A"]
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </details>
        <details id="tabQuestions">
            <summary>@Localizer["All Questions"]</summary>
            <div class="mrgn-bttm-md mrgn-tp-md pull-right">
                <button type="button" class="btn btn-default" onclick="location.reload()"><span class="fa fa-sync mrgn-rght-sm"></span>@Localizer["Refresh list"]</button>
            </div>
            <table class="table table-striped table-bordered" data-wb-tables='{ "ordering" : true, "aaSorting": [[1, "desc"]] }' id="tblQuestions">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="col-sm-2">
                            @Localizer["Case Number"]
                        </th>
                        <th scope="col" class="col-sm-3">
                            @Localizer["Question posted on"]
                        </th>
                        <th scope="col" class="col-sm-6">
                            @Localizer["Question"]
                        </th>
                        <th scope="col" class="col-sm-1">
                            @Localizer["Action"]
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Questions?.Count > 0)
                    {

                        @foreach (QuestionModel q in Model.Questions)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(q.HRCase.CaseNumber, "details", "hrcase", null, null, "tabQuestions", new { id = q.HRCase.CaseId }, null)
                                </td>
                                <td>
                                    <span class="localDateTime">@q.DateAsked</span>
                                </td>
                                <td>
                                    @q.QuestionText
                                </td>
                                <td>
                                    @Html.ActionLink(Localizer["Reply"].Value, "details", "hrcase", null, null, "tabQuestions", new { id = q.HRCase.CaseId }, null)
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">
                                @Localizer["N/A"]
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </details>

    </div>

</div>

@section CustomScripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">


        $(document).on("wb-ready.wb-tabs", ".wb-tabs", function (event) {
            $('#btnRefreshList').click(function () {
                var selectStatus = $("#ddlCaseStatus").val();

                var d = new Date();
                d.setTime(d.getTime() + (1 * 24 * 60 * 60 * 1000));
                var expires = "expires=" + d.toUTCString();

                document.cookie = "caseList=" + encodeURI(selectStatus) + ";" + expires + ";";
                location.reload();
            });

            var localDateTimes = $('.localDateTime');
            localDateTimes.each(function () {
                var utcTime = this.innerHTML;
                if (utcTime != null) {
                    var d = new Date(utcTime);
                    this.innerHTML = utcTime.substring(0, 10) + " " + ("0" + d.getHours()).slice(-2) + ":" + ("0" + d.getMinutes()).slice(-2);
                }
            });
        });

        function SwitchToQuestions() {
            $(".wb-tabs").trigger({ type: "wb-select.wb-tabs", id: "tabQuestions" });
        }

        $("#btnCaseSubmitted, #btnCaseWithdrawn").click(function () {
            $(this).closest("section").addClass("hidden");
        });
    </script>
}

